
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h3 id="offcanvasRightLabel">@DetailsTitle</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-10 order-md-last">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in DetailsData)
                    {
                        <tr>
                            <th scope="row">@item.Key</th>
                            <td>@item.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>


@code {

    [Parameter]
    public string DetailsTitle { get; set; } = "Detail";

    [Parameter]
    public List<KeyValuePair<string, string>> DetailsData { get; set; } = new();

    
}