
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">@DetailsTitle</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @foreach (var item in DetailsData)
        {
            <p>@item.Key : @item.Value</p>
        }
    </div>
</div>

@code {

    [Parameter]
    public string DetailsTitle { get; set; } = "Detail";

    [Parameter]
    public List<KeyValuePair<string, string>> DetailsData { get; set; } = new();

    
}