@inherits LayoutComponentBase

<TopNavBar></TopNavBar>

<div class="container-fluid bg-white">
    <div class="d-flex justify-content-left p-4">
        <div class="">
            <NavMenu />
        </div>
        <div class="container-fluid">
            <main>
                @Body
            </main>
        </div>

    </div>
</div>

