@using k8s.Models

<div style="width: 200px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Workload
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><NavLink href="" class="link-dark d-inline-flex text-decoration-none rounded">Overview</NavLink></li>
                    <li><NavLink href="Pods" class="link-dark d-inline-flex text-decoration-none rounded">Pods</NavLink></li>
                    <li><NavLink href="Deployments" class="link-dark d-inline-flex text-decoration-none rounded">Deployments</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">DaemonSets</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">StatefulSets</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">ReplicaSets</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">Jobs</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">CronJobs</NavLink></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Config
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">ConfigMaps</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">Secrets</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">Resource Quotas</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">Limit Ranges</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">HPA</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">Pod Disruption Budgets</NavLink></li>
                </ul>
            </div>
        </li>
        @*<li class="border-top my-3"></li>*@
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Network
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><NavLink href="Services" class="link-dark d-inline-flex text-decoration-none rounded">Services</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">Endpoints</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">Ingresses</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">Network Policies</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">Port Forwarding</NavLink></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                Storage
            </button>
            <div class="collapse" id="home-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">Persistent Volume Claims</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">Persistent Volumes</NavLink></li>
                    <li><NavLink href="#" class="link-dark d-inline-flex text-decoration-none rounded">Storage Classes</NavLink></li>
                </ul>
            </div>
        </li>
        <li>
            <NavLink href="Events" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">Events</NavLink>
        </li>
    </ul>
</div>
